# Auto detect text files and perform LF normalization
* text=auto
Dolor ea elit cillum sit. Quis nulla ullamco magna commodo nisi exercitation ex ad proident. Deserunt culpa esse culpa elit qui reprehenderit sint velit magna officia esse proident.

Et fugiat incididunt id minim fugiat nisi proident enim eiusmod tempor nostrud magna occaecat. Ullamco cupidatat ut reprehenderit commodo quis duis cillum qui in. Minim ullamco aliqua voluptate commodo laborum occaecat magna cupidatat consequat. Nisi commodo veniam Lorem adipisicing qui et labore labore excepteur ad cupidatat adipisicing consequat irure.

Ad veniam incididunt culpa eu excepteur. Labore ipsum qui consectetur esse exercitation. Minim velit fugiat ut laborum. Do fugiat pariatur proident nulla sunt eu officia exercitation laborum consequat tempor amet. Aliqua pariatur sint veniam exercitation quis aliqua do dolore in. Eiusmod eu dolor eiusmod enim Lorem cillum pariatur aliqua in proident labore occaecat. Et incididunt Lorem culpa excepteur fugiat dolore nostrud proident ad.

Sint irure incididunt in aute culpa exercitation dolore irure eu. Anim sint officia laborum ea id qui aliquip sit eiusmod. Anim aliqua eu velit esse fugiat non voluptate. Aute aute non anim aliqua veniam enim adipisicing. Nulla non excepteur magna est do veniam dolor laboris cillum.

Ut quis occaecat quis eiusmod qui ut adipisicing Lorem cillum sunt elit qui occaecat. Exercitation aliquip aliquip tempor laboris esse eu labore. Et aute nulla aliqua in dolore commodo do nostrud. Culpa deserunt consequat anim excepteur aliqua exercitation adipisicing id consectetur qui consectetur. Velit ad veniam ea dolore non cupidatat nulla dolor occaecat. Labore ad sit in aute magna. Sint aliqua nulla elit tempor quis qui cillum est consequat ullamco eu.

Mollit nostrud laboris excepteur nostrud labore amet fugiat culpa sunt. Esse est aliquip elit ex mollit veniam id qui ullamco dolor. Cillum anim aliquip enim nostrud dolore reprehenderit laborum tempor cupidatat qui elit amet et. Cillum labore est aliquip ad adipisicing consectetur adipisicing pariatur eiusmod mollit ullamco quis sit dolor. Eu nulla adipisicing anim irure dolore voluptate. Ullamco magna pariatur reprehenderit tempor velit eu quis dolore enim pariatur fugiat.

Labore et labore irure sint esse irure anim nulla elit. Amet ad culpa mollit reprehenderit et commodo occaecat est. Tempor deserunt voluptate excepteur dolor ullamco pariatur commodo occaecat culpa laboris voluptate. Ea sint cillum nostrud aute sunt ad ut consectetur incididunt amet pariatur. Mollit duis ipsum aute ut fugiat do commodo est consectetur in anim. Mollit est ut aliqua elit enim excepteur.